{% load static %}
<!-- sidebar-wrapper -->
<nav id="sidebar" class="sidebar-wrapper sidebar-dark">
    <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
        <div class="sidebar-brand">
            <a href="{% url 'index' %}">
                <img src="{% static 'admin/assets/images/logo-dark.png' %}" height="24" class="logo-light-mode" alt="">
                <img src="{% static 'assets/images/logo-light.png' %}" height="24" class="logo-dark-mode" alt="">
                <span class="sidebar-colored">
                    <img src="{% static 'assets/images/logo-light.png' %}" height="24" alt="">
                </span>
            </a>
        </div>

        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="{% url 'index' %}"><i class="bi bi-bar-chart me-2"></i>Trang chủ</a>
            </li>
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="bi bi-card-heading me-2"></i>Hoa hồng</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'affiliate_overview' %}">Tổng quan</a></li>
                        <li><a href="{% url 'affiliate_members' %}">Thành viên</a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="bi bi-building-up me-2"></i>Nạp rút</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'recharge' %}">Nạp tiền</a></li>
                        <li><a href="{% url 'withdraw' %}">Rút tiền</a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="bi bi-window-fullscreen me-2"></i>Tài khoản</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'account' %}">Cài đặt</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- sidebar-menu  -->
    </div>
</nav>
<!-- sidebar-wrapper  -->